@import url("https://cdn.syncfusion.com/ej2/material.css");

.kalender {
  padding-top: 1em;
}

.kommentarer-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  font-size: 20px;
  text-align: center;
  align-items: center;
}

.book-btn {
  width: 95px;
  height: 35px;
  background: #c6a23d;
  border-radius: 20px;
  box-shadow: 1px 1px 2px grey;
  color: white;
  border-color: #c6a23d;
  font-size: 22px;
  border-style: solid;
}

.e-calendar .e-content td.e-focused-date.e-today span.e-day {
  background-color: #bb9894;
  color: #fff;
  border: none;
}

.e-input-group-icon.e-date-icon::before,
.e-control-wrapper .e-input-group-icon.e-date-icon::before {
  font-size: 20px;
}

.e-datetime-wrapper .e-time-icon.e-icons::before {
  font-size: 20px;
  padding-right: 20px;
}

/* To specify height and font size */
.e-input-group input.e-input,
.e-input-group.e-control-wrapper input.e-input {
  font-size: 20px;
  padding-right: 20px;
  padding-left: 10px;
  font-family: "Open Sans", "Sans serif";
}

/* To specify background color and font size */
.e-datetime-wrapper .e-input-group-icon.e-date-icon,
.e-datetime-wrapper .e-input-group-icon.e-time-icon {
  font-size: 16px;
  padding-right: 5px;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 80%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}
