/* Michelle */

.book {
    width: 95px; 
    height: 35px;
    background: #C6A23D; 
    border-radius: 20px;
    border: none;  
    font-size: 22px;
    display: flex; 
    justify-content: center;
    position: relative; 
    left: 40px;
    bottom: 55px;  
} 