.Picker_Wrapper {
    width: 380px;
   
    border: 1px solid black; 
    border-radius: 7px;
}

.headKalender {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 10px;
} 

.head p {
  display: flex;
  flex-direction: column;  
}

.Kal_btn {
    cursor: pointer; 
    width: 50px;
    margin: 10px;
    font-size: 25px;
    border: none; 
    background: none;
} 

.body {
    margin: 5px; 
}

.dage {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.dagene div {
    display: inline-block;
    width: 52.5px; 
    font-size: 20px;
}

