/*Nadia*/

/*Overskrift*/
.brugerindhold-overskrift{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*switch*/


/*notifikation*/
.notifikation-tekst{
    margin-left: 2.5rem;
}

/*Form - start - overskrift*/
.form-overskrift{
    margin-left: 2.5rem;
}

/*Formen*/
.container-skift-indhold{
    margin-left: -0.3rem;
}

.input-indhold {
    width: 36vh;
    height: 4vh;
    border-radius: 10vh;
    padding-left: 3vh;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    border-style: solid;
    border-color: #262626;
    border-width: 1.2px;
}


.skiftindhold2 {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*skift knap*/
.skift-knap{
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #c6a23d;
    border-radius: 12px;
    border-width: 1.2px;
    border-color: #262626;
    color: #ffffff;
    margin-left: 8.7rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-weight: bold;

}