.infokategori {
    border-style: solid;
    text-decoration: none;
    margin-bottom: 0.09em;
}

.infokategori p {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.infolink a {
    text-decoration: none;
}

a {
    text-decoration: none;
}
