/*Michelle */

.os {
    width: 100%; 
    height: 400px; 
    display: flex;
    flex-direction: column;
    align-items: center;     
}

.img {
height: 300px; 
width: 250px;
border-radius: 20px; 
margin: 25px;
background: pink; 
}

.tekst {
    height: 100px; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;  
}

.tekst2 {
    height: 100px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.kontaktform {
    height: 400px; 


    background: lime; 

}