

.navbar {
  background-color: rgb(187, 152, 148);

  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5em;
  border-top: 1.5px solid #000000;
}
.navbar ul {
  display: flex;
  gap: 1rem;
  color: white;
  align-items: center;
  justify-content: center;
}
.navbar ul li {
  list-style-type: none;
}
.navbar ul svg {
  font-size: 2.5em;
}

.navbar a {
  color: var(--colorMain-black);
}

.booking svg {
  font-size: 2.5em;
  background-color: rgb(187, 152, 148);
  border: 20px;
  border-radius: 2em;
  padding: 0.2em;

  border-color: black;

  border: 1.5px solid #000000;
}

.booking {
  color: white;
  font-size: 2em;
}

.booking svg {
  font-size: 3.5em;
  background-color: rgb(187, 152, 148);
  border: 20px;
  border-radius: 2em;
  padding: 0.2em;
  border-color: black;
  border: 1.5px solid #000000;
  z-index: 100;
  position: fixed;
  bottom: 0;

  text-align: center;
}

.behandlinger {
  padding-right: 4em;
}
.information {
  padding-left: 4em;
}

.booking:active {
  color: black;
}

.forside:active {
  color: black;
}

.behandlinger:active {
  color: black;
}

.information:active {
  color: black;
}

.profil:active {
  color: black;
}

.navbooking {
  text-align: center;

  list-style-type: none;

  display: flex;
  justify-content: center;

  padding-right: 110px;
  flex-basis: fit-content;
}

.navbooking ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
