.container {
    
  
    background-color: rgba(60, 60, 60, 0.5); 
    
   
    color: white;  
    width: 175px; 
    font-size: 25px; 
    display: flex; 
    justify-content: center;
    position: relative; 
    bottom: 100px;
}

