/*Nadia*/

@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Open+Sans:wght@300&display=swap');

/*profil*/
.profil-main{
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 2rem;
    font-family: Open Sans;
}

.profil-billede{
    font-size: 60px;
    border-style: solid;
    border-radius: 80px;
    padding: 2rem;
    color: rgb(83, 83, 83);
    
}

.profil-tekst{
    justify-content: center;
    text-align: center;
    display: flex;
    color: #262626;
    font-family: Open Sans;
}

/*main indhold*/
.profil-tider{
    padding-left: 2.5rem;
    font-family: Open Sans;
}

.tidsstekst{
    margin-top: -1.5rem;
    font-family: Open Sans;
}

.profil-betaling{
    padding-left: 2.5rem;
    margin-top: 2.3rem;
    font-family: Open Sans;
}

.betalingstekst{
    margin-top: -0.3rem;
    margin-bottom: 2rem;
    font-family: Open Sans;
}

/*ikoner*/
.slet-ikon1{
    background-color: #bb9894;
    color: #ffffff;
    font-size: 30px;
    border-radius: 50px;
    margin-left: 1rem;
    font-family: Open Sans;
}

.slet-ikon2{
    background-color: #bb9894;
    color: #ffffff;
    font-size: 30px;
    border-radius: 50px;
    margin-left: 7.7rem;
    font-family: Open Sans;
}

/*betalingskortknap*/
.betalingskort-knap{
    background-color: #bb9894;
    color: #ffffff;
    margin-left: 2.5rem;
    border-radius: 25px;
    padding-left: 6rem;
    padding-right: 5.1rem;
    border-style: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 15px;
    font-family: Open Sans;
}

/*indstillinger knap*/
.indstillinger-knap{
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #bb9894;
    margin-left: 2.5rem;
    margin-right: 12.5rem;
    border-radius: 25px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: Open Sans;
}

.indstillinger-knap a {
    color: #ffffff;
    text-decoration: none;
    font-family: Open Sans;
}

/*log ud knap*/
.logud-knap{
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #c6a23d;
    border-radius: 25px;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    margin-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: Open Sans;
}

.logud-knap a {
    color: #ffffff;
    text-decoration: none;
    font-family: Open Sans;
}