.Kigind-image {
    height: 165px; 
    width: 175px;
    border-radius: 20px;
    position: absolute;
    left: 10px; 
}

.Booking_btn_Container {
    width: 185px;
    position: relative; 
    top: 145px; 
    left: 5px; 
    display: flex;
    justify-content: center;
}

